@page "/new-bug"

<h3>Add New Bug</h3>

<EditForm Model="AddBug" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <InputText @bind-Value="@AddBug.Title" placeholder="Enter Title"></InputText>
        <ValidationMessage For="() => AddBug.Title"></ValidationMessage>
    </div>
    <div class="form-group">
        <InputText @bind-Value="@AddBug.Description" placeholder="Enter Description"></InputText>
        <ValidationMessage For="() => AddBug.Description"></ValidationMessage>
    </div>
    <div class="form-group">    
        <InputNumber @bind-Value="@AddBug.Priority" placeholder="Enter Priority"></InputNumber>
        <ValidationMessage For="() => AddBug.Priority"></ValidationMessage>
    </div>
    <button type="submit">Add Bug</button>

    <DataAnnotationsValidator></DataAnnotationsValidator>
</EditForm>

@code {
    public Bug AddBug { get; set; } = new Bug();
    [Inject]
    public IBugService BugService { get; set; }
    [Inject]
    public NavigationManager NavService { get; set; }

    protected void HandleValidSubmit() {
        BugService.AddBug(AddBug);
        NavService.NavigateTo(""); //should be a const called HOME_PAGE
    }
}